################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/slnx.sqlite
/.vs/FastFittings2/v17/.wsuo
