@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>All Members</h1>

<p>
    <a asp-controller="Members" asp-action="Add">Add Member</a>
</p>


<p>
    <a asp-controller="Members" asp-action="Delete">Delete Member</a>
</p>

@if (Model.Count == 0)
{
    <p>No Members yet!</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Age
            </th>
            <th>
                US Shoe Size
            </th>
            <th>
                Shoe Type
            </th>
            <th>
                Select Country Size
            </th>
        </tr>
        @foreach (var mem in Model)
        {
            <tr>
                <td>@mem.Name</td>
                <td>@mem.Age</td>
                <td>@mem.ShoeSize</td>
                <td>@mem.Gender</td>
                <td>
                    <form method="post">
                    <select name="Country" id="Country">
                        <option value="Uk">UK</option>
                        <option value="Eu">EU</option>
                        <option value="Australia">Australia</option>
                        <option value="China">China</option>
                        <option value="Japan">Japan</option>
                        </select>
                        <input type="submit" value="Search Shoe Size">
                    </form>
                </td>
            </tr>
        }
    </table>
}