@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="homepageSpacing">
        <h1 class="display-4">Welcome To Fast Fit Converter</h1> 
    <a class="btn btn-primary" href="@Url.Action("Add","Members")">Get started</a>
    <p class="homespace">Sign up or Login to save your members and sizes!</p>
    </div>
     
</div>
